<tags-partial (tagSelectedOutput)="tagSelected($event)" [selectedTagsInput]="selectedTags"></tags-partial>
<div class="searchResults">
  <tool-bar-partial [tools]='toolList' (toolBarReturnList)="toolBarReturnHandler($event)"></tool-bar-partial>
  
  <div class='generalBox listItem' *ngFor='let item of items | search: searchVal; let i = index; trackBy: i' (click)='openTask(item.id)'>
    <color-dot-partial [colorsArray]="item.tags | colorsList"></color-dot-partial>
    <span [innerHtml]="item.copy"></span>
    <span [ngClass]="{'deleteActive':secondClick && deleteActiveIndex === i}" class="deleteButton" (click)="deleteClicked($event, item.id, i)"></span>
  </div>
</div>